
.faqs{
  margin-left: 30%;
  width: 63%;
  height: 80%;
  max-width: 63%;
  padding-bottom: 1%;
  display: block;
  padding-top: 20%;
}
@media (max-width: 780px) {
  .faq {
    margin-left: 10%;
    margin-top: 0vh;
  }
}

.group {
  padding: 3%;
}

.group-name {
  font-weight:bolder;
  margin-bottom: 2%;
  padding: 1%;
  cursor: pointer;
  background-color: none;
  font-size: 1.5rem;
}

.question {
  cursor: pointer;
  font-size: 1rem;
  font-style: bold;
  padding: 2%;
}

.answer,li {
  padding: 1%;
}

ul {
  margin-left: -6%;
  list-style-type: square;
}

.eachitem {
  box-shadow: 0.5px 1px 1px 2px rgba(82, 141, 194, 30%);
  padding-bottom: 1%;
  
}

li {
  display: flexbox;
  align-items: center;
  padding-bottom: 1%;
}


.icon-plus,
.icon-minus {
  margin-left: 4px;
}

.icon-plus:hover,
.icon-minus:hover {
  cursor: pointer;
}
