html {
  scroll-padding-top: 40%
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.asnwer{
  padding: 2%;
  font-size: 0.5rem;
}
.head{
  position: fixed;
  border-bottom:5px solid rgb(0, 37, 100);
  width: 100vw;
  display: grid;
  place-items: center;
}

img{
  width: 80%;
  max-width: 100%;
  height: auto;
}
@media(max-width:780px){
  .head{
    position: fixed;
  }
}

.leftnav{
  width: 30%;
  height: 80%;
  position:fixed;
  list-style: none;
  margin-top: 20%;
}

.faq-category.selected {
  background-color: rgb(82, 141, 194);
 
}
@media(max-width:780px){
  .group-name{
    font-size: 1rem;
  }
}

@media(max-width:780px){
  .leftnav{
    position: absolute;
    width: 80%;
    margin-top: 15%;  
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media(max-width:780px){
  .group, .asnwer{
    font-size: 0.75rem;
  }
}

li{
  list-style: square;
  padding: 1%;
}

.faq-category {
  position:relative;
  display: block;
  height: 50%;
  width: 100%;
  max-width: 70%;
  line-height: 300%;
  font-size: 15px;
  padding: 0 0.25rem;
  color: #fff;
  background-color: rgb(0, 37, 100);
  white-space: nowrap;
  transition: background .3s;
}
@media(max-width:780px){
  .faq-category {
    height: 50%;
    line-height: 300%;
    font-size: 10px;
    padding: 0 0.5rem;
    color: #fff;
    background-color: rgb(0, 37, 100);
    white-space: nowrap;
    transition: background .3s;
  }
}

.faq-container{
  margin-left: 30%;
  margin-top: 15%;
  width: 60%;
  max-width: 90%;
  padding-bottom: 1%;
  position: absolute;
  display: block;
  z-index: -3;
}
@media (max-width: 780px) {
  .faq-container {
    margin-top: 44vh;
    width: 86%;
    position: absolute;
    margin-left: 7%;
    margin-right: 7%;
    
  }
}

.group {
  padding: 3%;
}

.group-name {
  font-weight:bolder;
  margin-bottom: 2%;
  padding: 1%;
  cursor: pointer;
  background-color: none;
  font-size: 1rem;
}

.question {
  cursor: pointer;
  font-size: 1rem;
  font-style: bold;
  padding: 2%;
}

.navitem {
  list-style: none;
  padding: 0.5%;
}


.eachitem {
  box-shadow: 0.5px 1px 1px 2px rgba(82, 141, 194, 30%);
  padding: 2%;
}



.icon-plus,
.icon-minus {
  margin-left: 4px;
}

.icon-plus:hover,
.icon-minus:hover {
  cursor: pointer;
}



